body {
   font-family: arial; 
   text-align: center;
}

h2 {
    margin-top: -5px;
}

#tela_vencedor {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 290px;
    left: 950px;
    display: none;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
    background-color: teal;
    border: 3px solid black;
    z-index: 2;
}

.jogadorvez {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 950px;
    border-radius: 10px;
    background-color: teal;
    border: 3px solid black;
}

.tabela {
   width: 200px;
   height: 100px;
   position: absolute;
   top: 70px;
   left: 950px;
   border-radius: 10px;
   background-color: teal;
    border: 3px solid black;
}

.conteiner {
    max-width: 440px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: teal;
    border: 3px solid black;
    z-index: 1;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.quadrado {
    width: 75px;
    height: 65px;
    font-size: 50px;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: cadetblue;
}